ACTION=="add",ATTRS{idVendor}=="1c75", ATTRS{idProduct}=="0288", RUN+="/home/pi/mididings_config/mount_midi.sh" 
ACTION=="remove",ATTRS{idVendor}=="1c75", ATTRS{idProduct}=="0288", RUN+="/home/pi/mididings_config/unmount_midi.sh" 
